.container {
  display: grid;
  grid-template-columns: 50px auto 100px 300px;
  grid-template-rows: auto ;
  justify-content: center;
  // horisontal center
  gap: 20px;
}

//  grid-template-columns: 50px auto 100px 300px;
//  without justify center.. auto takes the rest of the space 
  

// grid-auto-rows: 500px => rows that you did not explicitly created will be 500 px

